<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='LeanCloud Command Line Tool (x86)' Id='*' UpgradeCode='0A3A0119-23EF-4ADF-85FC-9DEC7BD0034A'
    Language='1033' Codepage='1252' Version='0.16.1.0' Manufacturer='LeanCloud'>

    <Package Id='*' Keywords='Installer' Description="LeanCloud Command Line Tool Installer"
      Comments='LeanCLoud Command Line Tool Installer' Manufacturer='leancloud.cn' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='LeanCLI.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="LeanCloud Command Line Tool Installer [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="SystemFolder" Name="SystemFolder">
        <Component Id='MainExecutable' Guid="*">
          <File Id='LeanEXE' Name='lean.exe' DiskId='1' Source='_build/lean-windows-x86.exe' KeyPath='yes'/>
        </Component>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
    </Feature>

    <MajorUpgrade
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

  </Product>
</Wix>
