<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LeanCloud Cloud Code Debug Tool</title>
  <link rel="icon" href="https://leancloud.cn/favicon.png" type="image/png">
  <script type="application/javascript" src="https://cdn1.lncld.net/static/js/3.1.1/av-min.js"></script>
  <script type="application/javascript" src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
  <script type="application/javascript" src="https://cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
  <script type="application/javascript" src="https://cdn.staticfile.org/json5/0.5.1/json5.min.js"></script>
  <script type="application/javascript" src="https://cdn.staticfile.org/select2/4.0.3/js/select2.min.js"></script>
  <script type="application/javascript" src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="https://cdn.staticfile.org/select2/4.0.3/css/select2.min.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdn.staticfile.org/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" type="text/css"/>
  <script type="application/javascript">
Raven.config('https://e1c53ea5103f477eb6a5b01dcd78147d@sentry.avoscloud.com/22').install();
  </script>
  <script type="application/javascript" src="/index.js"></script>
  <style>
.navbar {
  border-radius: 0px;
}
  </style>
  <script type="text/x-template" id="select2-template">
    <select>
      <slot></slot>
    </select>
  </script>

</head>
<body>
<div id="application">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Cloud Code Debug Console
        </a>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row" v-if="warnings">
      <div class="col-md-12">
        <div class="alert alert-danger" v-for="warning in warnings">
          {{ warning }}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <h4>Function defined by <code>AV.Cloud.define</code></h4>
        <div class="form-group">
          <label>Select a function</label>
          <select2 :options="cloudFunctions" v-model="selectedFunction" class="form-control">
          </select2>
        </div>
        <div class="form-group">
          <label>Object Id of the logged-in user (simulated, can be empty)</label>
          <input v-model="cloudFunctionUserId" class="form-control"></input>
        </div>
        <div class="form-group">
          <label>JSON payload (can be empty)</label>
          <span>
            &raquo; <input type="checkbox" v-model="isCall">
            <label for="isCall">as AVObject (call)</label>
          </span>
          <textarea v-model="cloudFunctionParams" rows="10" cols="80" class="form-control"></textarea>
        </div>
        <button type="button" v-on:click="executeCloudFunction()" class="btn btn-default">Run</button>
  
      </div>
  
      <div class="col-md-6">
        <h4>Class Hooks (e.g., beforeSave, afterSave)</h4>
        <div class="form-group">
          <label>Select a class</label>
          <select2 :options="hookClasses" v-model="selectedClass" v-on:change="refreshHookFunctions()"  class="form-control">
          </select2>
        </div>
        <div class="form-group">
          <label>Select a function</label>
          <select2 :options="hookFunctions" v-model="selectedHook" class="form-control"></select>
        </div>
        <div class="form-group">
          <label>Object Id of the logged-in user (simulated, can be empty)</label>
          <input v-model="hookUserId" class="form-control" />
        </div>
        <div class="form-group" v-if="hookFunctions.length && hookFunctions[selectedHook].action.match(/^(before|after)Update$/)">
          <label>Updated fields, separated by commas</label>
          <input type="text" v-model="updatedKeys" class="form-control" />
        </div>
        <div class="form-group">
          <label>Existing objectId</label>
          <input type="text" v-model="hookObjectId" class="form-control" />
        </div>
        <div class="form-group">
          <label>or an object in JSON format</label>
          <textarea rows="10" v-model="hookObjectContent" class="form-control"></textarea>
        </div>
        <button type="button" v-on:click="executeCloudHook()" class="btn btn-default">Run</button>
      </div>
    </div>
  </div>
  
  <div class="container">
    <hr/>
    <ul class="nav nav-tabs">
      <li role="presentation" v-bind:class="{active: !showHistoryPanel}"><a href="javascript:;" v-on:click="showHistoryPanel=false">Result</a></li>
      <li role="presentation" v-bind:class="{active: showHistoryPanel}"><a href="javascript:;" v-on:click="showHistoryPanel=true">History</a></li>
    </ul>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12" v-if="!showHistoryPanel">
        <pre style="min-height: 76.5px;">{{ result }}</pre>
      </div>
      <div class="col-md-12">
        <div class="list-group" v-if="showHistoryPanel">
          <a href="javascript:;" class="list-group-item" v-for="operation of historyOperations" v-on:click="restoryHistory(operation)">
            {{ operation.type }}:
            <span class="text-info">{{ operation.name }}</span> &nbsp;
            <span class="text-info">{{ operation.className}}</span> &nbsp; {{operation.hookName}}
            {{ operation.userId ? "User ID: " + operation.userId : ""}} &nbsp;
            {{ operation.params ? "Parameters: " + operation.params.toString().slice(0, 50) + "..." : ""}} &nbsp;
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <hr/>
    <footer class="footer">
    <div class="row text-center">
      <p>&copy; <a href="https://leancloud.cn">LeanCloud</a>, All Rights Reserved.</p>
    </div>
    </footer>
  </div>
</div>
</body>
</html>
