<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LeanCloud Cloud Code Debug Tool</title>
  <script type="application/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
  <script type="application/javascript" src="http://cdn.staticfile.org/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="application/javascript" src="https://cdn1.lncld.net/static/js/av-core-mini-0.5.4.js"></script>
  <script type="application/javascript" src="https://cdn.staticfile.org/vue/2.2.5/vue.min.js"></script>
  <script type="application/javascript" src="/index.js"></script>
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" media="screen"/>
  <style>
.navbar {
  border-radius: 0px;
}
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Cloud Code Debug Console
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row" id="warnings" v-if="warnings">
    <div class="col-md-12">
      <div class="alert alert-danger" v-for="warning in warnings">
        {{ warning }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>测试 AV.Cloud.define 的函数</h4>
      <div class="form-group">
        <label>选择函数</label>
        <select id="functions" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>登录用户的 Object Id（模拟登录用户，可为空）</label>
        <input id="userId1" name="userId1" class="form-control"></input>
      </div>
      <div class="form-group">
        <label>传入 JSON 格式参数（可为空）</label>
        <span>
          &raquo; <input type="checkbox" id="isCall">
          <label for="isCall">作为 AVObject 传输（call）</label>
        </span>
        <textarea id='params' rows="10" cols="80" class="form-control"></textarea>
      </div>
      <button type="button" id="callFuncs" class="btn btn-default">执行</button>
    </div>

    <div class="col-md-6">
      <h4>测试 Class Hooks（beforeSave, afterSave 等）</h4>
      <div class="form-group">
        <label>选择 Class</label>
        <select id="classes" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>选择函数</label>
        <select id="hooks" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>登录用户的 Object Id（模拟登录用户，可为空）</label>
        <input id="userId2" name="userId2" class="form-control"></input>
      </div>
      <div class="form-group">
        <label>填写已经存在对象的 objectId</label>
        <input type="text" id="objectId" class="form-control"></input>
      </div>
      <div class="form-group" id="divUpdatedKeys">
        <label>修改过的字段（逗号隔开）</label>
        <input type="text" id="updatedKeys" class="form-control"></input>
      </div>
      <div class="form-group">
        <label>或者传入 JSON 格式的对象</label>
        <textarea rows="10" id="object" class="form-control"></textarea>
      </div>
      <button type="button" id="callHooks" class="btn btn-default">执行</button>
    </div>
  </div>
</div>

<div class="container">
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class='alert alert-info'>
        <h4>结果</h4>
        <pre id='result'></pre>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr/>
  <footer class="footer">
  <div class="row text-center">
    <p>&copy; <a href="https://leancloud.cn">LeanCloud</a>, All Rights Reserved.</p>
  </div>
  </footer>
</div>
</body>
</html>
